body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient( rgb(144, 208, 71), rgb(237, 223, 163));
}

h1 {
    margin-bottom: 20px;
}

#scoreboard {
    margin-bottom: 20px;
    background-color: azure;
    padding: 2px 19px;
    
    border-radius: 10px;
}

#scoreboard div {
    font-size: 1.2em;
    margin: 5px 0;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
    background-color: azure;
    padding: 2px 19px;
    border-radius: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(2, 92, 127);
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
    color: aliceblue;
}

.cell:hover {
    background-color: wheat;
    border-style: solid;
    border: 1px;
    border-color: black;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: aliceblue;
    margin: 5px;
    background-color: rgb(7, 6, 6);
    border-style: solid;
    border-color: inherit;
    border-radius: 19px;
}

button:hover {
    background-color: rgb(221, 9, 178);
    transform: scale(1.05);
    /* color: black; */
}

#controls {
    margin-bottom: 20px;
}
#home{
    position: absolute;
    left: 5vh;
    font-size: x-large;
}
#homeicon{
    color: black;
}
#homeicon:hover{
    color: rgb(25, 137, 222);
}
#container{
    display: flex;
    gap:40px ;
    justify-content: center;
    align-items: center;
}